<app-side-nav dir="rtl">
  <div class="container justify-content-center mt-4">
      <h2 class="text-center text-primary">إضافة منشور جديد</h2>
      <div class="tab-panel">
        <tabset>
          <tab heading="إضافة منشور جديد">
            <form [formGroup]="addForm" (ngSubmit)="addPost()">
              <input type="text" class="form-control mt-2" placeholder="العنوان" formControlName="title">
              <textarea type="text" rows="7" class="form-control mt-2" placeholder="الوصف" formControlName="description"> </textarea>
              <button class="btn btn-success mt-2" type="submit">إضافة</button>
            </form>
          </tab>
        </tabset>
      </div>
  </div>
</app-side-nav>