<div class="container mt-5">
  <div class="row">
    <div *ngFor="let post of posts" class="col-lg-4 col-md-3 col-sm-6">
      <app-post-card [post]="post"></app-post-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"
     [totalItems]="pagination.totalItems"
     [itemsPerPage]="pagination.itemsPerPage"
     [(ngModel)]="pagination.currentPage"
     (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>