<div [ngClass]="{container: !authService.isAdmin()}">
  <h2 *ngIf="!authService.isAdmin()" class="text-center header mt-5 mb-5">اطلب استشاراتك الآن</h2>
  <div class="card">
      <div class="card-body">
        <div *ngIf="messages?.length === 0">
          <p>لا يوجد استشارات حتى الآن</p>
        </div>
    
        <ul class="chat">
          <li *ngFor="let message of messages">
            <!-- to them -->
            <div *ngIf="message.senderId != this.authService.decodedToken.nameid">
              <span class="chat-img float-right">
                <img src="{{message.senderPhotoUrl}}" alt="{{message.senderName}}" class="rounded-circle">
              </span>
              <div class="chat-body">
                <div class="header">
                  <strong class="primary-font">{{message.senderName}}</strong>
                  <small class="text-muted float-left">
                    <span class="fa fa-clock-o"> {{message.messageSent | timeAgo}}</span>
                  </small>
                </div>
                <p>{{message.content}}</p>
              </div>
            </div>
    
            <!-- to me -->
            <div *ngIf="message.senderId == this.authService.decodedToken.nameid">
                <span class="chat-img float-left">
                  <img src="{{message.senderPhotoUrl || '../../../assets/user.png'}}" alt="{{message.senderName}}" class="rounded-circle">
                </span>
                <div class="chat-body">
                  <div class="header">
                      <small class="text-muted">
                        <span class="fa fa-clock-o"> {{message.messageSent | timeAgo}}</span>
                        <span *ngIf="!message.isRead" class="text-danger"> (unread)</span>
                        <span *ngIf="message.isRead" class="text-success"> (Read) {{message.dateRead | timeAgo}}</span>                    
                      </small>
                    <strong class="primary-font float-left">{{message.senderName}}</strong>
                  </div>
                  <p>{{message.content}}</p>
                </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
          <div class="input-group">
            <input type="text"
              [(ngModel)]="newMessage.content"
              name="content"
              class="form-control input-sm"
              placeholder="ارسال استشارة">
            <div class="input-group-append">
              <button class="btn btn-primary" [disabled]="!messageForm.valid"> إرسال</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>