<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{post.url || '../../../../../assets/medical.jpg' }}" alt="{{post.title}}">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      {{post.title}}
    </h6>
    <p class="card-text text-muted text-center">
      {{post.excerpt}}
    </p>
    <a class="btn btn-primary" [routerLink]="['/posts', post.id]" routerLinkActive="router-link-active" >إقرأ الموضوع</a>
  </div>
</div>