<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">لوحة التحكم</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" >الرئيسية</a>
      <a mat-list-item [routerLink]="['/dashboard/posts']" >المنشورات</a>
      <a mat-list-item [routerLink]="['/dashboard/users']">المستخدمون</a>
      <a mat-list-item [routerLink]="['/dashboard/consulting']">الاستشارات</a>
      <a mat-list-item [routerLink]="['/member/edit']">تعديل الملف الشخصي</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="fix" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>المساعد الطبي</span>
      <a class="loged-out" (click)="logout()">تسجيل الخروج</a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
